nav {
  background-color: white;
  height: 80px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
}
.meanuBar {
  display: none;
}
.date {
  height: 48px;
  width: 134px;
  background-color: var(--backgroundInput-color);
  border-radius: 6px;
  margin-right: 32px;
  img {
    height: 17px;
    width: auto;
  }
  h6 {
    font-size: 14px;
    font-weight: 600;
    padding-top: 1px;
    color: var(--dark-font-color);
  }
}

.leftUl {
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  li img {
    height: 22px;
    width: auto;
    font-size: 20px;
    margin-bottom: 8px;
  }
  li h6 {
    font-size: 11px;
    text-align: center;
    font-weight: 600;
    color: var(--nav-icon-color);
  }
}

::ng-deep nav li .p-button {
  background: none !important;
  border: none !important;
  font-size: 0px !important;
  padding: 0px;
}

::ng-deep .p-menu-overlay {
  top: 79px !important;
}

::ng-deep .p-avatar {
  height: 38px !important;
  width: 38px !important;
  background: #50cd89 !important;
}
::ng-deep .p-avatar span {
  font-size: 12px;
  color: white;
  font-weight: 600;
}
::ng-deep .p-badge-sm {
  right: -3px;
  top: -2px;
}
.rightUl {
  li img {
    height: 25px;
    width: auto;
  }
}

li img {
  width: auto;
  height: 38px;
}

::ng-deep .ng-tns-c1499351683-1:before {
  left: unset !important;
  right: 9px !important;
}

::ng-deep .ng-tns-c1499351683-1:after {
  left: unset !important;
  right: 11px !important;
}

.display {
  font-size: 20px;
  height: 20px;
  text-align: right;
}

.num-buttons {
  justify-items: center;
  align-items: center;
  grid-template-columns: 56px;
  grid-template-rows: 56px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . ."
    ". center end";
  .button {
    padding: 12px 20px;
    background-color: var(--backgroundInput-color);
    color: var(--dark-font-color);
    border-radius: 12px;
    margin: 4px;
  }
}

.button-0 {
  grid-area: center;
}

.button-ac {
  grid-area: end;
  padding: 12px 14px;
  background-color: #cecece;
  border-radius: 12px;
  margin: 4px;
  color: var(--dark-font-color);
}

.operator-buttons {
  justify-items: center;
  align-items: center;
  grid-template-columns: 56px;
  grid-template-rows: 56px;
  .button {
    padding: 12px 20px;
    background-color: #cecece;
    border-radius: 12px;
    margin: 4px;
    color: var(--dark-font-color);
    font-weight: 600;
  }
}

.equals {
  width: 100%;
  height: 40px;
  background-color: var(--blue-color);
  border-radius: 8px;
  color: white;
  font-size: 24px;
  text-align: center;
}

@media (min-width: 992px) {
  nav {
    padding-inline: 32px !important;
  }
}

@media (max-width: 1400px) {
  .meanuBar {
    display: block;
    i {
      font-size: 30px;
      font-weight: 600;
      color: var(--second-color);
    }
  }
}

@media (max-width: 992px) {
  .date {
    display: none !important;
  }
}
@media (max-width: 576px) {
  .leftUl ul {
    gap: 16px;
    h6 {
      font-size: 9px;
    }
  }
}
