.categories {
  background-color: white;
  height: 140px;
  border-radius: 20px;
  ul {
    overflow-x: auto;
  }

  ul::-webkit-scrollbar {
    display: none;
  }

  button img {
    height: 42px;
    margin-bottom: 8px;
  }

  li {
    height: 100%;
    min-width: 104px;
    border: 3px solid var(--light-color);
    border-radius: 12px;
    .infoText {
      color: var(--first-color);
    }
    h4 {
      font-size: 13px;
      margin-bottom: 4px;
    }
    h6 {
      font-size: 9px;
      margin-bottom: 0;
    }
  }
}

.items {
  background-color: white;
  height: calc(100vh - 262px);
  border-radius: 20px;
}

.items .itemsContent {
  overflow-y: auto;
}

.categories .itemsContent::-webkit-scrollbar {
  display: none;
}

::ng-deep .p-confirmpopup {
  box-shadow: none !important;
}
.customs {
  background-color: white;
  height: 140px;
  border-radius: 20px;
}
.customs ::ng-deep .p-inputgroup input {
  width: 100% !important;
}
.customs ::ng-deep .p-select-clear-icon {
  transform: translateY(-50%);
}

.invoice {
  background-color: white;
  height: calc(100vh - 262px);
  border-radius: 20px;
}
.invoiceArea {
  height: calc(100vh - 360px);
}
.workerDetails {
  background-color: white;
  height: 140px;
  border-radius: 20px;
}

.workerDetails .dashedline {
  background-color: var(--backgroundInput-color);
  border: 1px dashed var(--second-color);
  border-radius: 14px;
}

.totalCard {
  background-color: white;
  height: calc(100vh - 418px);
  border-radius: 20px;
}
.AddBtn ::ng-deep .p-button {
  background-color: var(--blue-color) !important ;
  border: none !important;
  height: 45px !important;
  width: 120px !important;
}
.AddBtn ::ng-deep span {
  position: relative;
}

.applyBtn ::ng-deep .p-button {
  background: var(--key-input-background-color) !important;
  border: none !important;
}
.applyBtn ::ng-deep .p-button span {
  color: var(--light-font-color);
}
.totalTable td {
  font-size: 20px;
  font-weight: 400;
  color: var(--dark-font-color);
  padding: 12px 8px;
}
.totalTable tr {
  border-bottom: 1px solid var(--light-color);
}
.totalTable tr:last-child td {
  font-weight: 800;
  font-size: 22px;
  text-transform: uppercase;
  border: none;
}
@media (max-width: 1200px) {
  .categories ul{
    justify-content: center;
  }
  .secondSide {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .customs,
  .totalCard {
    height: auto;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .productItem {
    flex: 0 0 auto;
    width: 12.5%;
  }
}

@media (max-width: 992px) {
  .categories ul{
    justify-content: space-evenly;
  }
  .invoicePart {
    flex-direction: column;
  }
  .workerDetails {
    margin-top: 16px;
  }
}

@media (max-width: 576px) {
  .productItem {
    flex: 0 0 auto;
    width: 25%;
  }
}
