<div class="sideBar d-flex flex-column align-items-center text-center">
  <div class="mb-3 mt-6  d-flex flex-column align-items-center">
    <button (click)="this._sharedDataService.updateSidebarState()"> <i class="pi pi-bars"></i></button>
    <a routerLink="home"><img class="logo mb-3" src="/assets/Logo M 4.png" alt=""></a>
  </div>
  <div class="categories mt-3">
    <ul>
      <li><a routerLink="home" (click)="this._sharedDataService.updateSidebarState()"><img src="/assets/home.png"
            alt="">
          <h5>Home</h5>
        </a></li>
      <li><a routerLink="pos" (click)="this._sharedDataService.updateSidebarState()"><img src="/assets/pos.png" alt="">
          <h5>POS</h5>
        </a></li>
      <li><a routerLink="products" (click)="this._sharedDataService.updateSidebarState()"><img
            src="/assets/products.png" alt="">
          <h5>Products</h5>
        </a></li>
      <li><a routerLink="customers" (click)="this._sharedDataService.updateSidebarState()"><img
            src="/assets/customers.png" alt="">
          <h5>Customers</h5>
        </a></li>
    </ul>
  </div>
</div>